#kq{
  background: #8E44AD;
  color: #eee;
  display: flex;
  justify-content: flex-end;
  font-family: 'Arimo', sans-serif;
}
.menu-bg {
  background: #eee;
  color: #8E44AD;
}
#hamburger {
  height: 50px;
  width: 50px;
  background: #eee;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0);
  transition: all 0.2s ease;
  z-index: 9999;
}
#hamburger:hover {
  background: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
  transition: all 0.2s ease;
}
#hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 28px;
  left: 50%;
  transform: translateX(-50%);
  background: #8E44AD;
  border-radius: 10px;
  transition: all 0.15s ease;
}
#hamburger span:first-child {
  top: 17px;
}
#hamburger span:nth-child(2) {
  top: 25px;
}
#hamburger span:last-child {
  top: 33px;
}
#hamburger.close {
  top: 10px;
  right: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
#hamburger.close span:first-child {
  top: 15px;
  transform: translate(-14px, 10px) rotate(135deg);
}
#hamburger.close span:nth-child(2) {
  left: -20px;
  opacity: 0;
}
#hamburger.close span:last-child {
  top: 15px;
  transform: translate(-14px, 10px) rotate(-135deg);
}
.nav-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#nav {
  height: 100vh;
  right: 0;
  background: #eee;
  color: #8E44AD;
  width: 200px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
  transform: translateX(200px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
#nav ul {
  list-style: none;
  padding: 0;
}
#nav ul li {
  width: 100%;
  transition: all 0.15s ease;
}
#nav ul li a {
  display: block;
  padding: 20px;
  width: 100%;
  height: 100%;
}
#nav ul li:hover {
  background: #8E44AD;
  color: #eee;
  transition: all 0.15s ease;
}
#nav.visible {
  transform: translateX(0);
  opacity: 1;
}
